Эта тетрадь представляет собой упражнение из курса "Введение в программирование". Вы можете ознакомиться с учебным пособием по этой ссылке.

В этом руководстве вы узнали о четырех различных типах данных: числах с плавающей запятой, целых числах, строках и логических значениях. В этом упражнении вы поэкспериментируете с ними.

# Настройте записную книжку

Запустите следующую ячейку кода без изменений, чтобы настроить записную книжку.

In [ ]:
# Подготовьте упражнение
from learntools.core import binder
binder.bind(globals())
from learntools.intro_to_programming.ex3 import *
print('Setup complete.')

# Вопрос 1

Вы видели, как преобразовать число с плавающей точкой в целое число с помощью функции int. Попробуйте это сами, выполнив приведенную ниже ячейку кода.

In [ ]:
# Определяем значение с плавающей точкой
y = 1.
print(y)
print(type(y))

# Преобразовать значение с плавающей точкой в целое число с помощью функции int
z = int(y)
print(z)
print(type(z))

В этом случае используемое вами значение float не содержит чисел после запятой.

Но что происходит, когда вы пытаетесь преобразовать значение float с дробной частью в целое число?
Как изменяется результат функции int для положительных и отрицательных чисел?
Используйте следующую ячейку кода, чтобы изучить эти вопросы и ответить на них. Не стесняйтесь добавлять или удалять любые строки кода - это ваше рабочее пространство!

In [ ]:
# Раскомментируйте и запустите этот код, чтобы начать работу!
print(int(1.2321))
print(int(1.747))
print(int(-3.94535))
print(int(-2.19774))

Как только у вас будет ответ, введите приведенную ниже ячейку с кодом, чтобы увидеть решение. Ознакомившись с решением, вы сможете найти правильный ответ на проблему.

In [ ]:
# Проверьте свой ответ (введите этот код в ячейку, чтобы получить зачет!)
# q1.check()

Правильный:

Отрицательные значения с плавающей запятой всегда округляются в большую сторону до ближайшего целого числа (например, значения -1.1 и -1.9 округляются в большую сторону до -1). Положительные значения с плавающей запятой всегда округляются в меньшую сторону до ближайшего целого числа (например, 2.1 и 2.9 округляются в меньшую сторону до 2).

# Вопрос 2

В руководстве вы узнали о логических значениях (которые могут принимать значения True или False), а также о целых числах, числах с плавающей запятой и строках. В этом вопросе ваша цель - определить, что происходит, когда вы умножаете логическое значение на любой из этих типов данных. Конкретно,

Что происходит, когда вы умножаете целое число или число с плавающей запятой на True? Что происходит, когда вы умножаете их на False? Как меняется ответ, если числа положительные или отрицательные?
Что происходит, когда вы умножаете строку на True? На False?
Используйте следующую кодовую ячейку для своего расследования.

In [ ]:
# Раскомментируйте и запустите этот код, чтобы начать работу!
print(3 * True)
print(-3.1 * True)
print(type("abc" * False))
print(len("abc" * False))

Как только у вас будет ответ, введите приведенную ниже ячейку с кодом, чтобы увидеть решение. Ознакомившись с решением, вы сможете найти правильный ответ на проблему.

In [ ]:
# Проверьте свой ответ (введите этот код в ячейку, чтобы получить зачет!)
# q2.check()

Правильный:

Когда вы умножаете целое число или значение с плавающей точкой на логическое значение со значением True, оно просто возвращает то же самое целое число или значение с плавающей точкой (что эквивалентно умножению на 1). Если вы умножаете целое число или значение с плавающей точкой на логическое значение со значением False, оно всегда возвращает 0. Это верно как для положительных, так и для отрицательных чисел. Если вы умножаете строку на логическое значение со значением True, то просто возвращаете ту же строку. А если вы умножаете строку на логическое значение со значением False, то возвращается пустая строка (или строка нулевой длины).

# Вопрос 3

В этом вопросе вы будете использовать результаты предыдущего упражнения для написания функции, которая оценивает стоимость дома.

Используйте следующую ячейку кода, чтобы создать функцию get_expected_cost, которая принимает в качестве входных данных три переменные:

кровати - количество спален (тип данных float)
, ванны - количество ванных комнат (тип данных float)
has_basement - есть ли в доме подвал (тип данных boolean)
Он должен возвращать ожидаемую стоимость дома с такими характеристиками. Предположим, что:

ожидаемая стоимость дома с 0 спальнями и 0 ванными комнатами и без подвала составляет 80000 долларов,
каждая спальня добавляет 30000 к ожидаемой стоимости,
каждая ванная комната добавляет 10000 к ожидаемой стоимости, а
подвал добавляет 40000 к ожидаемой стоимости.
Например,

ожидаемая стоимость дома с 1 спальней, 1 ванной комнатой и без подвала составляет 80000 + 30000 + 10000 = 120000. Это значение будет рассчитано с использованием get_expected_cost(1, 1, False).
ожидаемая стоимость дома с 2 спальнями, 1 ванной комнатой и подвалом составляет 80000 + 2*30000 + 10000 + 40000 = 190000. Это значение будет рассчитано с использованием get_expected_cost(2, 1, True).
Помните, что вы всегда можете получить подсказку, раскомментировав q3.hint() в ячейке кода, следующей за следующей!

In [ ]:
# ЧТО НУЖНО СДЕЛАТЬ: Завершите выполнение функции
def get_expected_cost(beds, baths, has_basement):
    value = 80000 + beds * 30000 + baths * 10000 + has_basement * 40000
    return value

# Проверьте свой ответ
# q3.check()

Correct

In [ ]:
# Uncomment to see a hint
#q3.hint()

# Uncomment to view the solution
#q3.solution()

# Вопрос 4

Мы продолжим изучение логической арифметики. В этом вопросе ваша задача - дать описание того, что происходит при добавлении логических значений.

Используйте следующую ячейку кода для своего исследования. Не стесняйтесь добавлять или удалять любые строки кода - используйте его как свое рабочее пространство!

In [ ]:
print(False + False)
print(True + False)
print(False + True)
print(True + True)
print(False + True + True + True)

Как только у вас будет ответ, введите приведенную ниже ячейку с кодом, чтобы увидеть решение. Ознакомившись с решением, вы сможете найти правильный ответ на проблему.

In [ ]:
# Проверьте свой ответ (введите этот код в ячейку, чтобы получить зачет!)
# q4.check()

Правильный:

Когда вы добавляете логические значения, добавление False эквивалентно добавлению 0, а добавление True эквивалентно добавлению 1.

➡️ Вопрос 5

У вас есть интернет-магазин, где вы продаете кольца с гравировкой на заказ. Вы предлагаете кольца как с позолотой, так и из чистого золота.

Базовая стоимость колец с позолотой составляет 50 долларов, а за единицу с гравировкой взимается плата в размере 7 долларов.
Базовая стоимость колец из чистого золота составляет 100 долларов, а стоимость каждой единицы с гравировкой составляет 10 долларов.
Пробелы и знаки препинания учитываются как единицы с гравировкой.
Напишите функцию cost_of_project(), которая принимает два аргумента:

гравировка - строка на языке Python с текстом гравировки
solid_gold - логическое значение, указывающее, является ли кольцо из чистого золота.
Это должно окупить стоимость проекта. Этот вопрос должен быть довольно сложным, и вам может понадобиться подсказка.

In [ ]:
def cost_of_project(engraving, solid_gold):
    cost = len(engraving) * 7 + 50 + (50 + len(engraving) * 3) * solid_gold 
    return cost

# Проверьте свой ответ
q5.check()

Correct

In [ ]:
# Uncomment to see a hint
#q5.hint()

# Uncomment to view the solution
#q5.solution()

Введите следующую ячейку кода, чтобы рассчитать стоимость гравировки Charlie+Denver на кольце из чистого золота.

In [ ]:
project_one = cost_of_project("Charlie+Denver", True)
print(project_one)

Используйте следующую ячейку с кодом, чтобы рассчитать стоимость гравировки 08/10/2000 на позолоченном кольце.

In [1]:
project_two = cost_of_project("08/10/2000", False)
print(project_two)

NameError: name 'cost_of_project' is not defined

# Продолжай

Переходите к следующему уроку, чтобы узнать больше об условиях и условных выражениях.