# Введение к спискам
Организуйте свои данные таким образом, чтобы вы могли эффективно с ними работать.

# Вступление¶
Когда вы занимаетесь наукой о данных, вам нужен способ организовать свои данные, чтобы вы могли эффективно с ними работать. В Python доступно множество структур данных для хранения ваших данных, таких как списки, наборы, словари и кортежи. В этом руководстве вы узнаете, как работать со списками Python.

# Мотивация
В конкурсе "От лепестка к металлу" ваша цель - классифицировать виды цветка, основываясь только на его изображении. (Это обычная задача в компьютерном зрении, и она называется классификацией изображений.) Для достижения этой цели, скажем, вы упорядочиваете названия видов цветов в данных.

Один из способов сделать это - упорядочить имена в строке Python.

In [ ]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

Еще лучше представить те же данные в виде списка на Python. Чтобы создать список, вам нужно использовать квадратные скобки ([, ]) и разделять каждый элемент запятой. Каждый элемент в списке представляет собой строку на Python, поэтому каждый из них заключен в кавычки.

In [ ]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

На первый взгляд, нет особой разницы, представляете ли вы информацию в виде строки на Python или в виде списка. Но, как вы увидите, существует множество задач, которые вам будет легче выполнять со списком. Например, список упростит поиск информации в Python.:

найдите товар в указанной позиции (первый, второй, третий и т.д.),
проверьте количество товаров, а
также добавляйте и удаляйте товары.
# Списки
# Длина
Мы можем подсчитать количество записей в любом списке с помощью функции len(), которая сокращенно означает "длина". Вам нужно только указать название списка в круглых скобках.

In [ ]:
# Список состоит из десяти записей
print(len(flowers_list))

# Индексация
Мы можем ссылаться на любой элемент в списке в соответствии с его позицией в списке (первый, второй, третий и т.д.). Это называется индексацией.

Обратите внимание, что в Python используется индексация с нулевым значением, что означает, что:

чтобы извлечь первую запись в списке, вы используете 0,
чтобы извлечь вторую запись в списке, вы используете 1, а
чтобы извлечь последнюю запись в списке, вы используете значение на единицу меньше длины списка.

In [ ]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# Список имеет длину десять, поэтому мы ссылаемся на последнюю запись с цифрой 9
print("Last entry:", flowers_list[9])

Примечание: Возможно, вы заметили, что в приведенной выше ячейке кода мы используем одну функцию print() для печати нескольких элементов (как строки Python (например, "Первая запись:"), так и значения из списка (например, flowers_list[0]). Чтобы напечатать несколько элементов в Python с помощью одной команды, нам нужно только разделить их запятой.

# Нарезка
Вы также можете извлечь сегмент списка (например, первые три элемента или последние два элемента). Это называется нарезкой. Например:

чтобы извлечь первые x записей, вы используете [:x], а
чтобы извлечь последние y записей, вы используете [-y:].

In [ ]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

Как вы можете видеть выше, когда мы разрезаем список, он возвращает новый, сокращенный список.

# Удаление элементов
Удалите элемент из списка с помощью .remove() и заключите элемент, который вы хотите удалить, в круглые скобки.

In [ ]:
flowers_list.remove("globe thistle")
print(flowers_list)

# Добавление элементов
Добавьте элемент в список с помощью функции .append() и заключите нужный элемент в круглые скобки.

In [ ]:
flowers_list.append("snapdragon")
print(flowers_list)

# Списки предназначены не только для строк
До сих пор мы работали только со списками, в которых каждый элемент является строкой. Но в списках могут быть элементы с любым типом данных, включая логические значения, целые числа и числа с плавающей точкой.

В качестве примера рассмотрим продажи книг в твердом переплете в первую неделю апреля 2000 года в розничном магазине.

In [ ]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

Здесь hardcover_sales - это список целых чисел. Как и при работе со строками, вы все еще можете выполнять такие действия, как получение длины, извлечение отдельных записей и расширение списка.

In [ ]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

Вы также можете получить минимальное значение с помощью функции min() и максимальное - с помощью функции max().

In [ ]:
print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Чтобы добавить каждый элемент в список, используйте функцию sum().

In [ ]:
print("Total books sold in one week:", sum(hardcover_sales))

Мы также можем выполнить аналогичные вычисления с фрагментами списка. В следующей ячейке кода мы берем сумму за первые пять дней (sum(hardcover_sales[:5])), а затем делим на пять, чтобы получить среднее количество проданных книг за первые пять дней.

In [ ]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

# Ваш ход¶
Теперь ваша очередь попрактиковаться в создании и изменении списков.