# Типы данных
Изучайте целые числа, числа с плавающей запятой, логические значения и строки.

# Вступление¶
Всякий раз, когда вы создаете переменную в Python, она имеет значение с соответствующим типом данных. Существует множество различных типов данных, таких как целые числа, числа с плавающей запятой, логические значения и строки, все из которых мы рассмотрим в этом уроке. (Это лишь небольшая часть доступных типов данных - есть также словари, наборы, списки, кортежи и многое другое.)

Типы данных важны, поскольку они определяют, какие действия вы можете с ними выполнять. Например, вы можете разделить два числа с плавающей точкой, но не можете разделить две строки. Например, 12.0/2.0 имеет смысл, а "кошка"/"собака" - нет.

Чтобы избежать ошибок, нам нужно убедиться, что действия соответствуют имеющимся у нас типам данных.

# Целые числа
Целые числа - это числа без какой-либо дробной части, которые могут быть положительными (1, 2, 3, ...), отрицательными (-1, -2, -3, ...), или нулевыми (0).

В приведенной ниже ячейке кода мы присваиваем переменной x значение целого числа. Затем мы проверяем тип данных с помощью функции type(), и нам нужно только передать имя переменной в круглые скобки.

In [ ]:
x = 14
print(x)
print(type(x))

В приведенном выше выводе <class 'int'> относится к целочисленному типу данных.

# Поплавки
Числа с плавающей запятой - это числа с дробной частью. Они могут содержать множество чисел после запятой.

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

Мы также можем указать число с плавающей точкой с дробью.

In [ ]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

Одна из функций, которая особенно полезна для работы с дробями, - это функция round(). Она позволяет округлить число до заданного количества знаков после запятой.

In [ ]:
# Округлить до 5 знаков после запятой
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

Всякий раз, когда вы записываете число с десятичной точкой, Python распознает его как тип данных с плавающей точкой.

Например, 1. (или 1.0, 1.00 и т.д.) будет распознаваться как число с плавающей точкой. Это так, хотя технически эти числа не имеют дробной части!

In [ ]:
y_float = 1.
print(y_float)
print(type(y_float))

# Логический¶
Логические значения представляют собой одно из двух значений: True или False. В приведенной ниже ячейке кода z_one присваивается логическое значение со значением True.

In [ ]:
z_one = True
print(z_one)
print(type(z_one))

Затем z_two присваивается логическое значение со значением False.

In [ ]:
z_two = False
print(z_two)
print(type(z_two))

Логические значения используются для представления истинностного значения выражения. Поскольку 1 < 2 является истинным утверждением, z_three принимает значение True.

In [ ]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

Аналогично, поскольку 5 < 3 является ложным утверждением, z_four принимает значение False.

In [ ]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

Мы можем изменить логическое значение, используя not. Таким образом, not True эквивалентно False, а not False становится True.

In [ ]:
z_five = not z_four
print(z_five)
print(type(z_five))

Логические значения будут важны на следующем уроке, когда вы узнаете об условиях и условных выражениях.

# Струнные
Строковый тип данных - это набор символов (например, букв алфавита, знаков препинания, цифровых обозначений или символьных знаков), заключенных в кавычки. Строки обычно используются для представления текста.

In [ ]:
w = "Hello, Python!"
print(w)
print(type(w))

Вы можете получить длину строки с помощью функции len().  "Привет, Python!" имеет длину 14, поскольку содержит 14 символов, включая пробел, запятую и восклицательный знак. Обратите внимание, что кавычки не учитываются при расчете длины.

In [ ]:
print(len(w))

Одним из особых типов строк является пустая строка, длина которой равна нулю.

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

Если вы заключаете число в кавычки, оно имеет строковый тип данных.

In [ ]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

Если у нас есть строка, которая может быть преобразована в float, мы можем использовать float().

Это не всегда будет работать! Например, мы можем преобразовать "10.43430" и "3" в числа с плавающей точкой, но мы не можем преобразовать "Привет, Python!" в число с плавающей точкой.

In [ ]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

Точно так же, как вы можете сложить два числа (с плавающей запятой или целые числа), вы также можете добавить две строки. В результате получается более длинная строка, которая объединяет две исходные строки путем их объединения.

In [ ]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

Обратите внимание, что невозможно выполнить вычитание или деление с двумя строками. Вы также не можете умножить две строки, но вы можете умножить строку на целое число. В результате снова получается строка, которая является просто исходной строкой, объединенной сама с собой указанное количество раз.

In [ ]:
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

Обратите внимание, что вы не можете умножить строку на число с плавающей точкой! Попытка сделать это вернет ошибку.

In [ ]:
will_not_work = "abc" * 3.

В ошибке "последовательность" - это строка "abc", а "не-int типа "float"" - это значение с плавающей точкой (3.). Таким образом, сообщение об ошибке можно переформулировать следующим образом: "не удается умножить строку на значение с плавающей точкой".

# Ваш ход
Напишите свой собственный код для изучения различных типов данных.